
*{
    margin:0%;
    padding:0%;

}
body{
    background-color:black;
    color:white;
    

}
nav{
    display:flex;
    justify-content:center;
    justify-content:space-around;
    color:white;
    margin-top:70px;
    font-size:20px;

}
ul{
    display:flex;
    

}
nav h1{
    font-size:35px;
    border-bottom:4px solid red;
    border-radius:35px;

}
nav li a{
    margin-inline: 30px;
    font-size:22px;
    
    border-radius:3px;
    cursor:pointer;
}
nav li a:hover{
    border:2px solid white;
}

.img img{
    margin-left:800px;
    
    width:50%;
    
}
.container{
   
    align-content: center;
}
.container.text{
    align-content: center;
    margin-top:50px;
    color:white;
}

.text h1{
    font-size:80px;
    margin-right:100px;
   

}
.text p{
    font-size:40px;
    color:red;
}



.btn button{
    font-size:60px;
}
ul li{
    list-style:none;
    margin-inline:30px;
    font-size:26px;
}
.btn button{
    width:100px;
    height:36px;
    border:3px solid rgba(250, 10,10, 801);
    background-color:black;
    color:white;
    font-size:18px;
    border-radius:20px;
    margin-top:11px;
    margin: right 10px;
    margin-top:20px;
}
.btn button:hover {
    background-color: brown;
    cursor:pointer;
}

